.bg-primary {
  background-color: red !important;
}

.bg-secondary {
  background-color: blue !important;
}

.bg-off-white {
  background-color: #F8F8F8 !important;
}

.bg-light-grey {
  background-color: #E0E0E0 !important;
}
