/* source: https://github.com/kenny-hibino/react-places-autocomplete/blob/master/demo/components/SearchBar.js */

.Suggestion-icon {
  margin-right: 8px;
}

.fa.fa-map-marker.header {
  color: #e53935;
}

.Search-input
{
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  border: honeydew;
  display: block;
  width: 450px;
  padding: 16px;
  font-size: 16px;
  border-radius: 2px;
  outline: none;
}

.Autocomplete-container {
  border-bottom: honeydew;
  border-left: honeydew;
  border-right: honeydew;
  border-top: 1px solid #e6e6e6;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  border-radius: 0 0 2px 2px;
}

.Suggestion-item {
  padding: 4px;
  text-align: left;
}
